
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 19px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:  rgb(31, 219, 31);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Add style to about ehelka  */
.navbar a.about {
    float: right;
    padding: 12px 16px;
    font-size: 16px;
    background-color: #ddd; 
    color: #080808;
    height: 55px;
    text-decoration: none;
    text-align: center;
}

/* Positioning of the articles to center */
article {
    border-radius: 25px;
    background: #e0dfdf;
    padding: 20px;
    width: 80%;
    margin-left: 10% ;
    margin-right: 10%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: lef;
}

/* Styling article poem */
div.Poems {
    color: #080808;
    
}
 svg {
    float: right;
    
 }
/* Style of the h3 and positioning */
h2 {
    text-shadow: #8f908f;
    margin-left: 45%;
}

h5 {
    font-size: 16px;
}




